<!-- INCLUDE forumview_header.html -->

<body>
    <div role="main">
        <section class="Scm-content">
            <div class="section">
                <center><h2>Patch Notes</h2></center>
                </div>
            <div class="section">
                <h3>Version 1.3 Changes</h3>
                <div class="PatchNotes-statusTag improvements"><span class="PatchNotes-statusTagContent">Improved</span></div>
                <ul>
                    <li>Publishing Improvements</li>
                    <li>Avatar Improvements</li>
                    <li>Publishing Improvements</li>
                </ul>
                <div class="PatchNotes-statusTag fixes"><span class="PatchNotes-statusTagContent">Fixes</span></div>
                <ul>
                    <li>Removed "Unread posts" hover text</li>
                    <li>Content will now be correctly centered</li>
                    <li>Simplified Logo </li>
                    <li>Scrollbar will no-longer appear at the bottom of the page</li>
                    <li>Removed border on hovering search results</li>
                    <li>Fixed quotes</li>
                </ul>
                <div class="PatchNotes-statusTag design"><span class="PatchNotes-statusTagContent">Design</span></div>
                <ul>
                    <li>Redesigned Report Panel</li>
                    <li>Redesigned User Avatar Settings</li>
                    <li>Redesigned Confirmation Windows</li>
                    <li>Redesigned Navigation</li>
                    <li>Redesigned Profile Page</li>
                    <li>Redesigned Viewing Profile Page</li>
                    <li>Redesigned Footer</li>
                    <li>Redesigned Viewing Profile Page</li>
                </ul>
                <div class="PatchNotes-statusTag newFeatures"><span class="PatchNotes-statusTagContent">Added</span></div>
                <ul>
                    <li>Added Custom Page For Patch Notes</li>
                </ul>
            </div>
            <div class="section">
                <h3>Version 1.2 Changes</h3>
                <div class="PatchNotes-statusTag improvements"><span class="PatchNotes-statusTagContent">Improved</span></div>
                <ul>
                    <li>Improved and redesigned navigation bar</li>
                    <li>Improved Pagination</li>
                    <li>Improved Posting Editor</li>
                    <li>Improved and Redesigned Polls</li>  
                </ul>
                <div class="PatchNotes-statusTag fixes"><span class="PatchNotes-statusTagContent">Fixes</span></div>
                <ul>
                    <li>The "Back to Forum" button no longer display the logging message on hover</li>
                    <li>Login and Register panel will now match the theme better</li>
                    <li>Users will no-longer see a border appearing under category names, while the page is loading</li>
                    <li>Quick-Reply Buttons Now Appear Correctly</li>  
                    <li>Fixed Backgrounds</li>  
                    <li>Small fixes regarding positions of elements</li> 
                </ul>
                <div class="PatchNotes-statusTag design"><span class="PatchNotes-statusTagContent">Design</span></div>
                <ul>
                    <li>Redesigned Buttons</li>
                    <li>Redesigned Minimal Texts throughout the forum</li>
                    <li>Redesigned Polls</li>
                    <li>There are now 3 block on a row, instead of 1</li>
                </ul>
                <div class="PatchNotes-statusTag newFeatures"><span class="PatchNotes-statusTagContent">Added</span></div>
                <ul>
                    <li>Added a "Home" button to the topics list page</li>
                    <li>Added Social Media Buttons</li>
                </ul>
            </div>
    </div>
    <script type="text/javascript" src="static/js/vendor/tether/dist/js/tether.js"></script>
    <script type="text/javascript" src="static/js/vendor/waypoints/lib/jquery.waypoints.js"></script>
    <script type="text/javascript" src="static/js/vendor/waypoints/lib/shortcuts/sticky.js"></script>
    <script type="text/javascript" src="static/js/vendor/instanttouch.min.js"></script>
    <script type="text/javascript" src="static/js/vendor/clipboard.min.js"></script>
    <script type="text/javascript" src="static/js/vendor/d3/tooltips.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

<!-- INCLUDE overall_footer.html -->