<!-- INCLUDE overall_ucp_header.html -->

<p class="ucp-title">Profile Page</p> 
<p class="ucp-description">Welcome to your profile page. From here you can change your avatar, see private messages, manage your privacy and user settings.</p>

<div id="tabs" class="tabs">
	<ul>
		
		<li class="tab"><a class="tab-title" href="{ROOT_PATH}ucp.php?i=ucp_profile&mode=reg_details">Settings</a></li>
        <li class="tab"><a class="tab-title" href="{ROOT_PATH}ucp.php?i=ucp_profile&mode=avatar">Profile</a></li>
        <li class="tab"><a class="tab-title" href="{ROOT_PATH}ucp.php?i=ucp_prefs&mode=personal">Privacy</a></li>
        <li class="tab"><a class="tab-title" href="{ROOT_PATH}ucp.php?i=ucp_pm">Messages</a></li>
        
	</ul>
</div>
